/* App.css */
body {
  user-select: none;
}

.custom-margin {
  margin-right: 20%;
}

/* When screen width is 1024px or more (fullscreen), reduce margin to 15% */
@media (min-width: 1024px) {
  .custom-margin {
    margin-right: 15%;
  }
}